<!DOCTYPE html>

<html>
  <head>
    <title>
      Test
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div id="list" class="flex flex-col lg:flex-row flex-wrap flex-initial px-8 content-center">
    </div>
    <form id="suggestion" method="POST" action="/">
      <input type="text" id="input" name="input">
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    </script>
  </body>
</html>
