<!DOCTYPE html>

<html>
  <head>
    <title>
      Test
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body class="pb-20">
    <div id="list" class="flex flex-col lg:flex-row flex-wrap flex-initial px-8 content-center">
    </div>
    <form id="suggestion" method="POST" action="/" class="fixed inset-x-0 bottom-0 w-full text-center">
      <input type="text" id="input" name="input" class="border-2 border-black rounded-l-full w-3/4 md:w-1/2 pl-4 leading-8 bg-gray-800 text-white">
      <button type="submit" value="Submit" class="border-2 border-black border-l-0 leading-8 px-2 -m-1 md:-m-1.5 rounded-r-full bg-gray-500 text-white">
        Sugerir
      </button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    </script>
  </body>
</html>
