<!DOCTYPE html>

<html>
  <head>
    <title>
      Voting Room
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="stylesheet" href="styles/build.css">
  </head>
  <body class="pb-20">
    <div id="list" class="flex flex-col lg:flex-row flex-wrap flex-initial px-8 content-center">
    </div>
    <div class="flex flex-col items-center">
      <form id="suggestion" method="POST" action="/" class="relative inset-x-0 bottom-0 w-full text-center" autocomplete="off">
        <input type="text" id="input" name="input" class="border-2 border-black rounded-l-full w-3/4 md:w-1/2 pl-4 leading-8 bg-gray-800 text-white">
        <button id="btn-suggest" type="submit" value="Submit" class="border-2 border-black border-l-0 leading-8 px-2 -m-1 md:-m-1.5 rounded-r-full bg-gray-500 text-white">
          Sugerir
        </button>
      </form>
      <ul class="list-none w-1/2" id="autocomplete-list"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/autocomplete.js"></script>
  </body>
</html>
